# Binaries
orchix
orchix-agent
dist/
*.exe

# Go
vendor/
*.test
*.prof
*.out
coverage.txt

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Orchix
.orchix/
*.tfstate
*.tfstate.backup
.terraform/
*.log
logs/

# Test
test-results/